header {
  padding: 0 20px;
  height: 70px;
  background: var(--ct-color-bg-secondary);
  display: flex;
  align-items: center;
}

header h1 {
  color: var(--ct-color-font-tertiary);
  font-size: 24px;
}
